body {
	margin-top: 0em;
    font-family: sans-serif;
	background-color: #fdfcf7
}
a {
	text-decoration: none;
}

.main {
	background-color: #f5f5f1;
	padding-top: 2em;
	padding-left: 2em; 
	padding-right: 2em; 
	padding-bottom: 2em;
	max-width: 40em; 
	margin: 0 auto;
}

p {
	text-indent: 2em;
}
