body {
    margin-top: 0em;
    /*font-size: 20px;*/
    /*font-family: sans-serif;*/
    background-color: #fdfcf7
}
.main {
    background-color: #f5f5f1;
    padding-top: 2em;
    padding-left: 2em; 
    padding-right: 2em; 
    padding-bottom: 2em;
    max-width: 40em; 
    margin: 0 auto;
}

pre {
    font-family: Courier;
    font-size: 0.9em;
}

hr {
    margin-top: 3em; 
    margin-bottom: 3em
}

.reference {
    font-size: 0.9rem;
}

a {
    color:green;
    text-decoration: none
}

a:hover {
    color: red
}

.preword {
    margin-left: 30%;
    font-size: 0.8rem;
}

.codz {
    width: 100%;
    color: #DDDDDD;
    background-color: #333333; 
    border-radius: 1em; 
}
